.card {
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card img {
    max-width: 100%;
    height: 150px;
    object-fit: contain;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.buttons button {
    background-color: #eee;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    transform: background-color 0.2s ease;
}

.buttons button:hover {
    background-color: #ddd;
}

.buttons button:active {
    background-color: #ccc;
}

.buttons input[type="number"] {
    width: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

.buttons .addtocart {
    background-color: #007bff;
    color: white;
}

.buttons .addtocart:hover {
    background-color: #0056b3;
}

.buttons .addtocart:active {
    background-color: #004085;
}

/* Remove the up/down buttons in the number input field */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}