.card {
    border: 1px solid black;
    margin: 10px;
}

.card img {
    max-width: 100%;
    height: auto;
}
/* Remove the up/down buttons in the number input field */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}